@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.style1 {
    background-color: #1f2937;
    color: #e5e7eb;
}
.style2 {
    background-color: #f9faf8;
    color: #1f2937;
}
.style3 {
    background-color: #e5e7eb;
    color: #1f2937;
}

.header,
.section1,
.section2,
.section3,
.section4,
.footer {
    flex: 1;
    display: flex;
}
/* <!-- /////////////////////////////////////////// --> */
.header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.header .logo {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    margin-left: 30px;
    flex: 0 0 0;
    min-width: 750px;
}
.header .right{
    padding-top: 20px;
    flex: 0 0 0;
    min-width: 750px;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    
}
.header .right a {
    font-size: 15px;
    color: #e5e7eb;
    text-decoration: none;
    margin-left: 25px;
}
/* <!-- /////////////////////////////////////////// --> */
.section1 {
    padding: 100px 0vh;
    flex-wrap: wrap;
    justify-content: center;
}

.section1 .left {
    flex: 1 1 0;
    min-width: 500px;
    max-width: 750px;
    margin-left: 30px;
}
.section1 .right {
    background-color: grey;
    flex: 1 1 0;
    min-width: 500px;
    max-width: 750px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    
}
.section1 .title {
    font-size: 60px;
    font-weight: 900;
    padding-right: 100px;
}
.section1 .content{
    font-size: 24px;
    color: #787d87;

    padding-right: 100px;
}
/* <!-- /////////////////////////////////////////// --> */
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

}
.section2 .title{
    font-size: 36px;
    font-weight: 900;
    padding: 50px 0;
    text-align: center;
}
.section2 .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section2 .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 15px 30px;
}
.section2 .content .card .image{
    border: 4px solid;
    border-color: #3882f6;
    border-radius: 15px;
    width: 100%;
    padding-top: 100%;
}
.section2 .content .card .description{
    text-align: center;
    padding-top: 15px;
}
/* <!-- /////////////////////////////////////////// --> */
.section3{
    padding: 100px 70px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3 .content {
    display: flex;
    flex-direction: column;
    width: 1000px;
}
.section3 .content .quote{
    
    font-weight: 300;
    font-style: italic;
}
.section3 .content .author{
    text-align: right;
}
/* <!-- /////////////////////////////////////////// --> */
.section4{
    display: flex;
    justify-content: center;
    align-items: center;


}
.section4 .content{
    display: flex;
    flex-wrap: wrap;
    background-color: #3882f6;
    color: white;
    width: 1500px;
    margin: 150px;
    box-sizing:border-box;
    padding: 50px 130px;
    border-radius: 10px;
}
.content .left {
    padding-right: 20px;
    flex: 5;
    min-width: 300px;
    min-height: 80px;
}
.section4 .left .title{
    font-size: 24px;
    font-weight: 600;
}
.section4 button{

    font-size: 24px;
    flex: 1;
    border: 3px solid white;
    min-width: 150px;
}
/* <!-- /////////////////////////////////////////// --> */
.footer{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
/* <!-- /////////////////////////////////////////// --> */
button {
    background-color: #3882f6;
    color: white;
    padding: 8px 30px;
    margin: 15px 0px;
    border: none;
    border-radius: 7px;
    font-size: 24px;
}
